/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}
.nopadding {  padding: 0;
  margin: 0;
   }


#map-container {
  position: relative;
  height: 400px;
  width: inherit;
}

.card-color {
  background-color: rgb(228,234,226);
}

#map {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
}

#map-park {
 
  top: 0;
  bottom: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 8px;
}
#mapOne,
#mapTwo,
#mapThree,
#mapFour {
  width: 80%;
  height: 500px;
  margin-top: 10px;
}

.container.body-container {
  padding: 10px;
  margin: 10px;
  background-color: #FFFFFF;
}