/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

#map {
  width: 400%;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 8px;
}
#mapOne,
#mapTwo,
#mapThree,
#mapFour {
  width: 80%;
  height: 500px;
  margin-top: 10px;
}

.container.body-container {
  padding: 10px;
  margin: 10px;
  background-color: #FFFFFF;
}

.map-container {
  height: 100%;
  /* Fallback for vmin */
  padding: 0px 1rem 1rem 1rem;
  padding: 0px 1vmin 1vmin 1vmin;
}

.map-frame {
  height: 100%;
  width: 100%;
/*   We use outline over border as has issues in some cases */
  outline: 1px solid black;
}

#map-id { 
  height: 100%;
}