<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <!-- CSS only -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

   
   <!-- Leaflet CSS -->
   <link
     rel="stylesheet"
     href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
     integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
     crossorigin=""
   />
    <title>National Parks Biodiversity</title>
  </head>
  <body style="background-color: rgb(243, 250, 241)">
    <nav
      style="background: rgb(180, 215, 162) !important"
      class="navbar navbar-expand-lg navbar-light bg-secondary"
    >
      <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('parkdata') }}"
              >National Parks<span class="sr-only">(current)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('biodiversity2') }}"
              >Biodiversity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('table') }}"
              >Data Table</span></a>
          </li>
     
          
        </ul>
      </div>
    </nav>

    <div
      style="background: rgb(226, 238, 194);height: 280px;"
      class="jumbotron jumbotron-fluid"
    >
      <div class="container">
        <h1 style="font-size:180%;color:rgb(8, 88, 12);font-family:sans-serif;text-align:left;">Save the Animals!!</h1>
        <p style="font-size:100%;color:rgb(3, 3, 3);font-family:verdana;text-align:justify;">
            Biodiversity is the diversity of life across the ecosystem, species, and genetic level. The National Park Service is tasked with discovering and conserving biodiversity within national parks across the country. 
            Increasing global threats such as deforestation, pollution, over-exploration, and climate change underlies rapid species loss in America and across the globe
            <a href="https://www.scientificamerican.com/article/climate-change-is-becoming-a-top-threat-to-biodiversity/"><sup>1</sup></a>. Biodiversity is intrinsically valuable- every species has a value and right to exist. <br>
            <hr>
            This <strong>National Park Biodiversity Dashboard</strong> allows user’s to explore the current state of biodiversity within the national parks. 
            What is the current status of biodiversity in our parks. With changing climate, scientists agree the ramifications on the planet's ecosystems and species is at risk.

        </p>
      </div>
    </div>

   
    
<!-- National part images -->
            <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12">   
              <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://media.cntraveler.com/photos/5ebeef63f52f4c0911cac483/master/pass/GrandCanyonNationalPark-2020-GettyImages-858637934.jpg" class="d-block w-100" alt="Image1" height="450">
                    <div class="carousel-caption d-none d-md-block">
                      <h2 style="color:rgb(249, 249, 249);">Grand Canyon, Arizona</h2>
                      <p style="color:rgb(249, 249, 249);">Grand Canyon National Park</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.kuhl.com/borninthemountains/wp-content/uploads/2019/03/Zion_Sunset.jpg" class="d-block w-100" alt="Image2" height="450">
                    
                    <div class="carousel-caption d-none d-md-block">
                      <h2 style="color:rgb(249, 249, 249);">Zion, Utah</h2>
                      <p style="color:rgb(249, 249, 249);">Zion National Park</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.hdwallpaper.nu/wp-content/uploads/2016/10/Yosemite-National-Park_wallpaper_029.jpg" class="d-block w-100" alt="Image3" height="450">
                    <div class="carousel-caption d-none d-md-block">
                      <h2 style="color:rgb(249, 249, 249);">Yosemite, California</h2>
                      <P style="color:rgb(249, 249, 249);">Yosemite National Park</p>
                    </div>  
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
          </div>
        </div>
    <br />
    <br />
    <br />

<!-- second image -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div>
            <h4 style="font-size:180%;color:rgb(3, 3, 3);font-family:cursive;text-align:justify;">
              "There can be nothing in the world more beautiful than the Yosemite, 
              the groves of the giant sequoias and redwoods, the Canyon of the Colorado, 
              the Canyon of the Yellowstone, the Three Tetons; 
              and our people should see to it that they are preserved for their children and their children's 
              children forever, with their majestic beauty all unmarred."<br><br>
            ---------------Theodore Roosevelt-------------------
            </h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div>
            <a href="">
              <img
                src="https://images.squarespace-cdn.com/content/v1/564d14dfe4b0290681184a82/1476418909277-EH7BIGHQG4Z87NLTR7ME/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/Katmai+National+Park+-+016.jpg"
                class="img-fluid w3-center w3-animate-top"
                alt="..."
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script type="text/javascript" src="app.js"></script> -->
  </body>
      
    <!-- Leaflet JS -->
    <script
    src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""
  ></script>
</html>
