<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Project 3</title>
</head>
<body style="background-color:rgb(243, 250, 241);">
    <nav style="background:rgb(180, 215, 162) !important" class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="http://127.0.0.1:5000/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="max_temps.html">Max Temps <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="humidity.html">Humidity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cloudiness.html">Cloudiness</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="wind_speed.html">Wind Speed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="comparison.html">Comparison</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="data.html">Dataset</a>
            </li>
          </ul>
        </div>
      </nav>
  
  <div style="background:rgb(226, 238, 194)" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Save the Kiddos!!</h1>
      <p class="lead">
        Growing wealth gap with long term consequences. Poverty is associated with low-quality of life, higher risk of disease, and higher mortality rates. 
        There are some that believe that in the United States we ALL have the same access to opportunity and that those who fail do so because of the poor choices they made. 
        This assumes that we are all given the SAME choices and opportunities. What does the data say?
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div>
          <a href="">
          <img src="https://activeforlife.com/content/uploads/2018/05/kids-freeplay-989x660.jpg" class="card-img-top" alt="...">
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
        
          <h4> Our site captures neighborhood resources and conditions that matter for children's healthy development.</h4>
        
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div>
            <h4>The site also focuses on contemporary features of neighborhoods that are affecting children.</h4>
          </div>
      </div>
      <div class="col-lg-6">
        <div>
            <a href="">
            <img src="https://www.childmags.com.au/wp-content/uploads/2018/04/child_road_chalk_play.jpg" class="card-img-top" alt="...">
            </a>
          </div>
      </div>
    </div>
  </div>

      


  
</body>
</html>