<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
        <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <!-- CSS only -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

   
   <!-- Leaflet CSS -->
   <link
     rel="stylesheet"
     href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
     integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
     crossorigin=""
   />

  </head>    
 
    <title>Project 3</title>
  </head>
  <body class = "container-body" style="background-color: rgb(243, 250, 241)">
    <nav
      style="background: rgb(180, 215, 162) !important"
      class="navbar navbar-expand-lg navbar-light bg-secondary"
    >
      <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor03"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('parkdata') }}"
              >National Parks<span class="sr-only">(current)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('biodiversity2') }}"
              >Biodiversity</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('table') }}"
              >Data Table</span></a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card-header">
          <h5 style="font-size:200%;color:rgb(42, 23, 109);font-family:Times;text-align:justify;">Select National Park:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="card bg">
          <div class="card-header">
            <h2 style="font-size:200%;color:rgb(42, 23, 109) ;font-family:Times;text-align:justify;"><u>State Park Info:</u></h2>
            </thead>
          </div>
          <div id="state-info" class="card-body"></div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-header">
          <h2 style="font-size:300%;color:rgb(42, 23, 109);font-family:Times;text-align:center;">Biodiversity</h2>
        <div id="bar"></div>
      </div>
      </div>
      <div class="col-md-3">
          <h2 style="font-size:200%;color:rgb(42, 23, 109);font-family:Times;text-align:right;">US National Parks</h2>
        <div id="map"></div>
      </div>
    </div>
      </div>
    </div>
    </div>


  </body>
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Leaflet JS -->
  <script
    src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""
  ></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="/static/js/config.js"></script>
  <!--JS File-->
  <script type="text/javascript" src="/static/js/logic_parkdata.js"></script>
</html>
