<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" /> -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css"
      rel="stylesheet"
    />

    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <title>Project 3</title>
  </head>
  <body style="background-color: rgb(243, 250, 241)">
    <nav
      style="background: rgb(180, 215, 162) !important"
      class="navbar navbar-expand-lg navbar-light bg-secondary"
    >
      <a class="navbar-brand" href="http://127.0.0.1:5000/">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor03"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('parkdata') }}"
              >National Parks
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('biodiversity2') }}"
              >Biodiversity</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('analysis') }}">Analysis</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('table') }}"
              >Data Table<span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid content">
      <div class="col-md-12">
        <div class="table-responsive">
          <br />
          <h2>National Parks Data</h2>
          <hr />
          <p>
            The following table inludes all the data used to generate the plots
            and analysis for this project.
          </p>
          <br />
          <input
            class="form-control"
            id="myInput"
            type="text"
            placeholder="Search.."
          />
          <table id="parks" class="table table-striped table-hover">
            <thead class="thead-dark">
            <tbody id="myTable"></tbody>
          </table>
        </thead>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $("#myInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });
    </script>
  </body>
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="/static/js/logic_table.js"></script>
  <!-- Leaflet JS -->
  <script
    src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""
  ></script>
</html>
