<!DOCTYPE html>
    <html lang="en-us">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, intial-scale=1.0" />
      <!-- Our CSS -->
      <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    
      <!-- CSS only -->
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
      <!-- JS, Popper.js, and jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
     
        <!-- Leaflet CSS -->
        <link
          rel="stylesheet"
          href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""
        />
    
      </head>    
     
      <title>Parks Data Table</title>
      <body class = "container-body" style="background-color: rgb(228, 234, 226)">
        <nav
          style="background: rgb(111, 81, 88
          ) !important"
          class="navbar navbar-expand-lg navbar-dark bg-primary; col-sm-12"
        >
          <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('parkdata') }}"
                  >National Parks
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('biodiversity2') }}"
                  >Biodiversity</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('table') }}"
                  >Data Table</span></a>
              </li>
              
            </ul>
          </div>
        </nav>
        <div style="background: rgb(172, 169, 162)
        !important" class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">National Parks Data</h1>
            <h2 class="lead"> The following table inludes all the data used to generate the plots
              and analysis for this project.</h2>
          </div>
        </div> 
        <div class="container-fluid">
  
          <input
            class="form-control"
            id="myInput"
            type="text"
            placeholder="Search.."
          />
         
          <table id="parks" class="table table-striped table-hover">
            <thead class="thead-dark">
            <tbody id="myTable"></tbody>
          </table>
        </thead>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $("#myInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });
    </script>
    </div>
  </body>
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="/static/js/logic_table.js"></script>
  
</html>
